
.vs/IntroExampleAssessment/v17/Preview/Browse.VC.db
.vs/IntroExampleAssessment/v17/DocumentLayout.json
.vs/IntroExampleAssessment/v17/DocumentLayout.backup.json
.vs/IntroExampleAssessment/v17/.suo
.vs/IntroExampleAssessment/FileContentIndex/7c52b16f-b1dd-47b0-9320-8c296729c055.vsidx
.vs/IntroExampleAssessment/FileContentIndex/1b4dd6bd-f1eb-4c12-a042-0d3940d0e74e.vsidx
.vs/IntroExampleAssessment/v17/Preview/Browse.VC.db
.vs/IntroExampleAssessment/v17/DocumentLayout.json
.vs/IntroExampleAssessment/v17/DocumentLayout.backup.json
.vs/IntroExampleAssessment/v17/.suo
.vs/IntroExampleAssessment/FileContentIndex/7c52b16f-b1dd-47b0-9320-8c296729c055.vsidx
*.vsidx
*.db
*.db
*.db-shm
*.opendb
*.db-wal
*.db
.vs/IntroExampleAssessment/v17/.suo
*.db
.vs/IntroExampleAssessment/v17/Preview/Browse.VC.db
*.json
*.json
*.db
.vs/IntroExampleAssessment/v17/.suo
*.db
*.vsidx
